//test
//variables
$color-black: #000;
$color-white: #fff;
$color-anthrazit: #2d2d2d;
$color-anthrazitLight: #757575;
$color-grey: #C6C6C6;
$color-greyLight: #efeded;
$color-orange: #FFB500;
$color-orangeLight: #fcdc7e;


body {
  font-size: 64px;
  background-color: $color-black;
}


body,
button {
  font-family: 'helvetica neue';
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}


.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 80px 80px;
  grid-template-areas:
  "header header header header"
  "main main main main"
  "main main main main"
  "main main main main"
  "main main main main"
  "main main main main";
}


.item-header {
  grid-area: header;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: $color-black;
  color: $color-white;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: inherit;
}


.btn {
  background-color: $color-anthrazit;
  border: none;
  color: $color-white;
  padding: 20px;
  text-align: center;
  margin: 5px 5px;
  border-radius: 50%;
  font-size: 25px;
  display: block;
  outline: 0;

  &:hover {
    background-color: $color-anthrazitLight;
  }
}


.modifier {
  background-color: $color-grey;
  color: $color-black;
  outline: 0;

  &:hover {
    background-color: $color-greyLight;
  }
}


.operator {
  float: right;
  background-color: $color-orange;
  outline: 0;

  &:hover {
    background-color: $color-orangeLight;
  }
}


.number {
  font-size: 27px;
}
