body {
  font-size: 64px;
  background-color: #000;
}
body,
button {
  font-family: 'helvetica neue';
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 80px 80px;
  grid-template-areas:
  "header header header header"
  "main main main main"
  "main main main main"
  "main main main main"
  "main main main main"
  "main main main main";
}
.item-header {
  grid-area: header;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: #000;
  color: #fff;
  text-align: right;
  //text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: inherit;
}
.btn {
  background-color: #2d2d2d;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 5px 5px;
  border-radius: 50%;
  font-size: 25px;
  display: block;

}

  .btn:hover {
   background-color: #757575;
   //opacity: 0.9;
  }


.modifier {
  background-color: #C6C6C6;
  color: #000;
  font-size: 20px;
}

  .modifier:hover {
     background-color: #efeded;
   }

.operator {
  float: right;
  background-color: #FFB500;
}

  .operator:hover {
     background-color: #fcdc7e;
  }

.number {
  font-size: 27px;
}
